<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
  <div class="user-profile">
    <img *ngIf="url_imagem" src="{{ url_imagem }}" class="user-img" />
    <span class="sm-avatar" *ngIf="!url_imagem">
      <i class="fas fa-user"></i>
    </span>
    <p>
      <b>{{username}}</b>
    </p>
    <p>
      <span>{{cidade}}
        <span *ngIf="cidade && estado">, </span>{{estado}}</span>
    </p>
  </div>
  
  <ul class="vertical menu">
    <div *ngIf="mostraConteudo == true">
    <li>
      <a href="/compartilhe">Meu Catálogo</a>
    </li>
    <li>
      <a href="/editarMeuCatalogo">Editar meu Catálogo</a>
    </li>
    <li>
      <a href="/editarPerfil">Editar Meu Cartão de Visita</a>
    </li>
    </div>
    <li>
      <a href="#" (click)="sair()">Sair</a>
    </li>
  </ul>
</div>
<header>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-3 medium-2 logo">
        <img src="assets/img/logo-meu-catalogo-mobile-inicio.png">
      </div>
      <div class="cell small-5 medium-6 text-center">
        <img src="assets/img/borboleta-rommanel-mobile.png" class="rommanel-ico">
        <img src="assets/img/logo-rommanel-desk.png" class="hide-for-small-only logo-rommanel-desk">
      </div>
      <div class="cell small-1 medium-1">
          <app-notificacoes></app-notificacoes>
      </div>
      <div class="cell small-3 medium-3">
        <button class="float-right btn-menu" data-toggle="offCanvasLeft">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="dropdown menu hide-for-small-only is-active" data-dropdown-menu>
          <li>
            <a href="#">
              <img *ngIf="url_imagem" src="{{ url_imagem }}" class="user-img" />
              <span class="sm-avatar" *ngIf="!url_imagem">
                <i class="fas fa-user"></i>
              </span>
              {{username | uppercase}}
            </a>
            <ul class="menu text-center">
              <div *ngIf="mostraConteudo == true">
              <li>
                <a href="/compartilhe">Meu Catálogo</a>
              </li>
              <li>
                <a href="/editarMeuCatalogo">Editar meu Catálogo</a>
              </li>
              <li>
                <a href="/editarPerfil">Editar Meu Cartão de Visita</a>
              </li>
              </div>
              <li>
                <a href="#" (click)="sair()">Sair</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>