<app-header></app-header>
<div class="customize" id="gc">
  <div class="bg-overlay"></div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell small-12 medium-10 question margin-top-2 text-center">
        <h5 class="font-20">Meus Catálogos</h5>
        <h6 class="font-20 text-light">Chegou a hora de personalizar o seu catálogo!</h6>
        <p style="margin:0;">Aqui serão 6 etapas de personalização. Você terá 5 páginas divididas nas seguintes categorias: anéis, brincos, colares,
          pulseiras e pingentes. Nessas páginas você poderá escolher as joias que quiser. Em seguida, poderá personalizar
          as suas informações pessoais, para deixar o catálogo ainda mais com a sua cara.
        </p>
        <hr>
        <div class="page margin-top-3 padding-2">
          <div class="gc">
            <div class="capa capa-raquel text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="capa capa-debora text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="capa capa-duda text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="capa capa-alice text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="capa capa-maria-antonia text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="capa capa-brenda text-center capa-mini">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
            <div class="gc-options">
              <button>
                <i class="fas fa-search"></i>
              </button>
              <button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <p class="title">Sem Nome</p>
          </div>

          <div class="gc">
            <div class="blank_space">
              <button class="plus position-static plus-big" onclick="$('#gc').hide();$('#gc-capa').show()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="customize" id="gc-capa" style="display:none">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell small-12 medium-12 question margin-top-2 text-center">
        <h6 class="font-20 text-light">Titulo do catálogo</h6>
        <input type="text" class="text-center" placeholder="Titulo do catálogo" style="box-shadow: none;">
        <div class="margin-top-2">
          <h6 class="font-20 text-light">Capa do catálogo</h6>
          <div class="gcx">
            <div class="capa capa-alice text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

          <div class="gcx">
            <div class="capa capa-brenda text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

          <div class="gcx">
            <div class="capa capa-debora text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

          <div class="gcx">
            <div class="capa capa-duda text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

          <div class="gcx">
            <div class="capa capa-maria-antonia text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

          <div class="gcx">
            <div class="capa capa-raquel text-center capa">
              <div class="padding-top-1">
                <img class="show-for-small-only" src="assets/img/logo-rommanel-capa-mobile.png">
                <img class="hide-for-small-only" src="assets/img/logo-rommanel-capa.png">
              </div>
              <div class="catalogo-nome">
                <p>Catálogo Rommanel 2018 da</p>
                <h1>Ana</h1>
              </div>
            </div>
          </div>

        </div>
        <a href="/quizResultado" class="button width-75 rounded margin-top-3">Continuar</a>
      </div>
    </div>
  </div>
</div>