.notification .fa-bell{
    color: #FFF;
    font-size: 20px;
}
.notification .badge {
    position: absolute;
    top: -7px;
    right: -11px;
    min-width: 22px;
    min-height: 5px;
    border-radius: 20px;
    font-size: 9px;
    font-weight: 700;    
}
.badge.alert {
    border: 2px solid #664a90;
}
.notification .is-dropdown-submenu{
    left: -120px !important;
    top: 45px !important;
    color: #fff;
    text-align: left;
    padding: 10px;
    max-height: 274px;
    overflow: auto;
}
.notification .is-dropdown-submenu span{
    border-bottom: 1px solid #fff;
    font-size: 11px;
    font-size: 0.6875rem;
    padding: 10px 0;
    line-height: normal;
    padding-right: 15px;
    font-weight: lighter;
    display: block;
}
.notification .is-dropdown-submenu li:last-child span{
    border: none;
}
.is-dropdown-submenu > li{
    position: relative;
}
button.fas{
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    top: 13px;
}
.notification .is-dropdown-submenu::-webkit-scrollbar{
    width: 8px;
}
.notification .is-dropdown-submenu::-webkit-scrollbar-track{
    background: #af94d7;
    border-radius: 10px;
}
.notification .is-dropdown-submenu::-webkit-scrollbar-thumb{
    background: #664a90;
    border-radius: 10px;
    top: 15px;
    position: relative;
}
.notification .is-dropdown-submenu::-webkit-scrollbar-thumb:hover {
    background: #664a90;
}
@media screen and (max-width: 39.9375em) {
    .notification .is-dropdown-submenu{
        left: -70px !important;
        top: 45px !important;
        color: #fff;
        text-align: left;
        padding: 10px;
        min-width: 150px;
    }
}
