<div class="notification dropdown menu" data-dropdown-menu>
  <li>
    <span class="badge alert" *ngIf="contadorMsg!=0">{{ contadorMsg }}</span>
    <i class="fas fa-bell"></i>
    <ul class="menu text-center">
      <li *ngFor="let notificacao of notificacoes | async">
        <span *ngIf="notificacao.lida==false">
            {{ notificacao.texto }} 
            <button (click)="notificacaoLida($event)" [value]="notificacao.titulo" class="fas fa-times"></button>
        </span>
      </li>
    </ul>
  </li>
</div>