<div class="form-wizard-catalogo customize" id="step-customize" style="display: block;">
  <div class="bg-overlay"></div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell small-12 medium-7 question margin-top-2 text-center">
        <h5 class="font-20">Passo 2 |
          <span class="step-info">Anéis</span>
        </h5>
        <h6 class="font-20 text-light">Chegou a hora de personalizar o seu catálogo!</h6>
        <p style="margin:0;">Aqui serão 6 etapas de personalização. Você terá 5 páginas divididas nas seguintes categorias: anéis, brincos, colares,
          pulseiras e pingentes. Nessas páginas você poderá escolher as joias que quiser. Em seguida, poderá personalizar
          as suas informações pessoais, para deixar o catálogo ainda mais com a sua cara.
        </p>
        <p><b>Lembrete:</b> Apenas os lançamentos do Catálogo 2018 estão disponíveis para personalização. A linha permanente ainda não está disponível, aguarde novidades.</p>
        <hr>
        <app-pagina [pagina]="aneis"></app-pagina>
        <app-pagina [pagina]="brincos"></app-pagina>
        <app-pagina [pagina]="colares"></app-pagina>
        <app-pagina [pagina]="pulseiras"></app-pagina>
        <app-pagina [pagina]="pingentes"></app-pagina>
        <app-usuario></app-usuario>
    </div>
  </div>
</div>