<div class="fixar-topo">
    <header>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-3 medium-2 logo">
                    <img src="assets/img/logo-meu-catalogo-mobile-inicio.png">
                </div>
                <div class="cell small-6 medium-7 text-center">
                    <img src="assets/img/borboleta-rommanel-mobile.png" class="rommanel-ico">
                    <img src="assets/img/logo-rommanel-desk.png" class="hide-for-small-only logo-rommanel-desk">
                </div>
            </div>
        </div>
    </header>
</div>
<app-catalogo [acoes]="false"></app-catalogo>