
    <div class="bg-primary color-white bg-login">
        <p class="text-center rommanel-mobile show-for-small-only">
            <img src="assets/img/logo-rommanel-mobile.png"/>
        </p>
        <div class="grid-container grid-container-big">
            <div class="grid-x">
                <div class="cell medium-6 padding-top-3 position-relative">
                    <div class="margin-bottom-3">
                        <img src="assets/img/logo_maior.png" style="width:417px;" class="show-for-large" />
                        <img src="assets/img/um-catalogo-so-seu.png" class="show-for-small-only" />
                    </div>
                    <div class="seta-login">
                        <img src="assets/img/seta-login.png">
                    </div>
                    <p>Que tal um Catálogo Digital Rommanel para personalizar ele do seu jeito e garantir que você venda ainda mais?</p>
                    <p>Faça o seu cadastro, responda o quiz para descobrir com qual personagem você mais se identifica e deixe o
                        catálogo com a sua cara!</p>
                    <p class="float-right">
                        <img src="assets/img/logo-meu-catalogo-desk-barra.png" class="show-for-small-only" />
                    </p>
                    <a href="#authentic-tabs" class="button rounded text-uppercase btn-verde margin-bottom-2" data-smooth-scroll data-animation-duration="1000">eu quero um catálogo só meu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark cell medium-12 text-center info padding-vertical-2 color-white text-light font-24 show-for-large">
        São 3 passos para ter um
        <b>catálogo digital feito
            <span class="text-uppercase">pra você!</span>
        </b>
    </div>
    <div class="steps-info-container show-for-large">
        <div class="grid-container padding-0">
            <div class="grid-x align-center">
                <div class="cell medium-12  padding-top-3">
                    <div class="steps-info">
                        <div class="card text-center">
                            <div class="card-divider">
                                Passo 1
                            </div>
                            <div class="icon">
                                <img src="assets/img/quiz-ico.png">
                                <span>Responda o quiz</span>
                            </div>
                            <div class="card-section">
                                <p>Descubra com qual personagem você mais se identifica respondendo ao nosso quiz. É rápido e fácil!</p>
                            </div>
                            <i class="fas fa-sort-down"></i>
                            <i class="ellipse-card"></i>
                        </div>
                        <i class="fas fa-angle-right"></i>
                        <div class="card text-center">
                            <div class="card-divider">
                                Passo 2
                            </div>
                            <div class="icon">
                                <img src="assets/img/personalize-ico.png">
                                <span>Personalize o seu catálogo</span>
                            </div>
                            <div class="card-section">
                                <p>Deixe o catálogo do seu jeito! Personalize suas páginas e tenha um catálogo só seu.</p>
                            </div>
                            <i class="fas fa-sort-down"></i>
                            <i class="ellipse-card"></i>
                        </div>
                        <i class="fas fa-angle-right"></i>
                        <div class="card text-center">
                            <div class="card-divider">
                                Passo 3
                            </div>
                            <div class="icon">
                                <img src="assets/img/compartilhe-ico.png">
                                <span>Compartilhe o catálogo</span>
                            </div>
                            <div class="card-section">
                                <p>Aumente suas vendas compartilhando o seu catálogo com as suas clientes e amigas.</p>
                            </div>
                            <i class="fas fa-sort-down"></i>
                            <i class="ellipse-card"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ellipse-divisor">
    </div>
<app-acesso></app-acesso>